*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.content {
    max-width: 100%;
    max-height: calc(100vh - 90px);
    display: flex;
}

.btn{
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 25px;
}

.right__header__btn{
    border: solid 1px #fff;
    background: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.right__header__btn:hover{
    border: solid 1px rgb(180, 180, 180);
    color: rgb(180, 180, 180);
    transition: 0.5s;
}
.button__right__header{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.white{
    color: #fff;
}
.footer__display__left{
    display: flex;
}

/*-----------------------------------------------------*/

/*Left*/

.left__display{
    background-color: #000000;
    overflow-y: auto;
}

.logo{
    width: 200px;
    height: auto;
    padding: 20px;
}

.logo_s{
    padding: 5px;
}
.img__size__left{
    width: 35px;
    margin-left: 5px;
}

.menu__left a, .playlist a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #717171;
    border: 2px solid #000000;
}
.playlist a{
    border-style: hidden;
    margin: 5px 0;
}

.menu__left a:hover {
    border-left: 2px solid #adff2f;
    color: #fff;
}
.square-plus__size{
    font-size: 40px;
    margin-right: 10px;
}
.playlist a:hover{
    color: #fff;
}
.size__icons__left{
    font-size: 25px;
    margin: 5px 10px;
}
.style__text__left {
    font-size: 18px;
}
.style__text__left:hover {
    font-size: 18px;
}
.playlist{
    margin: 25px 10px;
}
.text__playlist{
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 15px;
}

.style__text__left__playlist{
    font-size: 15px;
    margin: 10px 0;
    font-weight: 700;
}

/*F.Left*/

/*-----------------------------------------------------*/

/*Right*/



.right__display{
    background-color: #141922;
}

.header__right{
    height: 90px;
    background-color: #080b129f;
    position: fixed;
    z-index: 10;
}
.main__right{
    padding-top: 90px;
    width: 100%;
    overflow-y: auto;
}
.nav__right{
    justify-content: center;
}
.nav__right ul li a{
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #7d7f84;
    text-transform: uppercase;
    margin: 0 10px;
    line-height: 56px;
}
.nav__right ul li a{
    padding-bottom: 6px;
    border-bottom: 2px solid #adff2f;
    border: hidden;
}

.nav__right ul li a:hover{
    border-bottom: 2px solid #adff2f;
}

.nav__right ul li{ 
    display: inline;
}

.nav__right ul{
    list-style: none;
    text-align: center;
}
.right__menu__items__name, .right__menu__items__text{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    padding: 10px 0;
    padding-left: 5px;
}
.right__menu__items__text{
    font-size: 14px;
    color:#6e7176;
}
.main__right__menu{
    margin: 0 10px;
}
.right__menu__items {
    display: flex;
    flex-wrap: wrap;
}
.right__item{
    width: calc(100% / 6 - 10px);
    margin: 5px;
    text-align: center;
}
.right__item img {
    width: 100%;
    display: block;
}
.item__title{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0;
}
.item__text{
    color: #63666b;
    font-weight: 700;
    font-size: 14px;
}
.right__item__image, .right__item__image__style{
    position: relative;
}
.right__item__image::after, .right__item__image__style::after{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    font-size: 60px;
    color: #fff;
    content: "\f144";
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
    opacity: 0;
    transition: opacity 0.3s;
}

.right__item:hover .right__item__image::after, .right__item:hover .right__item__image__style::after{
    opacity: 1;
}

.right__item__image__style{
    position: relative;
}
.right__item__image__style::after{
    border-radius: 50%;
}

.right__item:hover .right__item__image__style::after{
    opacity: 1;
}

.img__style{
    border-radius: 50%;
}
/*------------------------
    Footer
-------------------------*/
footer {
    height: 80px;
}

/*F.Right*/

/*-----------------------------------------------------*/

/*Footer*/
.footer__style {
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #282828;
    justify-content: space-between;
    align-items: center;
}

.footer__left, .footer__center, .footer__right {
    display: flex;
    align-items: center;
}
.footer__left{
    justify-content: flex-start;
}
.footer__center{
    width: 50%;
    flex-direction: column;
}
.footer__left, .footer__right{
    width: 25%;
}
.footer__left img{
    width: 15%;
    height: 15%;
    margin: 0 20px;
}
#title__footer {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
#Subtitle__footer{
    color: #878787;
    font-size: 14px;
    font-weight: 700;
}
.items__footer{
    width: 55px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.items__footer a, .items__footer__right a{
    color: #fff;
    font-size: 20px;
}
.footer__center__upbar{
    margin-bottom: 5px;
}
.footer__center__upbar a{
    color: #fff;
    font-size: 20px;
    margin: 0 15px;
}
#play{
    font-size: 30px;
}

.footer__center__downbar{
    width: calc(100% / 1.5);
    display: flex;
    align-items: center;
}
.play__line__left, .play__line__right, .volum__left, .volum__right{
    border-radius: 25px;
    height: 3px;
}
.play__line__left{
    width: 25%;
    background-color: #fff;
}
.play__line__right{
    width: 75%;
    background-color: #5a5a5a;
}
.time__footer{
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    margin: 0 10px;
}
.footer__right{
    justify-content: flex-end;
    margin-right: 20px;
}
.items__footer__right{
    width: 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.volum{
    margin-left: 20px;
    width: calc(100% / 3);
    display: flex;
    align-items: center;
}
.volum__left{
    width: 25%;
    background-color: #fff;
}
.volum__right{
    width: 75%;
    background-color: #5a5a5a;
}
/*F.Footer*/