*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.content {
    max-width: 100%;
    max-height: calc(100vh - 90px);
    display: flex;
}

.btn{
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 25px;
}

.right__header__btn{
    border: solid 1px #fff;
    background: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.right__header__btn:hover{
    border: solid 1px rgb(180, 180, 180);
    color: rgb(180, 180, 180);
    transition: 0.5s;
}
.button__right__header{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.white{
    color: #fff;
}
/*-----------------------------------------------------*/

/*Left*/

.left__display{
    background-color: #000000;
    display: fixed;
}

.logo{
    width: 200px;
    height: auto;
    padding: 20px;
}

.logo_s{
    padding: 5px;
}
.menu__left a, .playlist a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #717171;
    border: 2px solid #000000;
}
.menu__left a:hover {
    border-left: 2px solid #adff2f;
    color: #fff;
}
.square-plus__size{
    font-size: 40px;
    margin-right: 10px;
}
.playlist a:hover{
    color: #fff;
}
.size__icons__left{
    font-size: 25px;
    margin: 5px 10px;
}
.style__text__left {
    font-size: 18px;
}
.style__text__left:hover {
    font-size: 18px;
}
.playlist{
    margin: 25px 10px;
}
.text__playlist{
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 15px;
}

.style__text__left__playlist{
    font-size: 15px;
    margin: 10px 0;
    font-weight: 700;
}

/*F.Left*/

/*-----------------------------------------------------*/

/*Right*/



.right__display{
    background-color: #141922;
}

.header__right{
    width: 100%;
    height: 90px;
    background-color: #080b129f;
    display: fixed;
}
.main__right{
    width: 100%;
}
.nav__right ul li a{
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #7d7f84;
    text-transform: uppercase;
    margin: 0 10px;
    text-align: center;
    line-height: 56px;
}
.nav__right ul li a{
    padding-bottom: 6px;
    border-bottom: 2px solid #adff2f;
    border: hidden;
}

.nav__right ul li a:hover{
    border-bottom: 2px solid #adff2f;
}

.nav__right ul li{ 
    display: inline;
}

.nav__right ul{
    text-align: center;
    list-style: none;
}

/*F.Right*/

/*-----------------------------------------------------*/

/*Footer*/

.footer__style{
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #282828;
}

/*F.Footer*/